a {
    text-decoration: none;
    color: inherit;
}

.App {
    min-height: 100vh;
    background: radial-gradient(
        circle,
        rgba(255, 195, 221, 0.7833508403361344) 8%,
        rgba(220, 249, 250, 0.5732668067226891) 93%
    );
}

.search-form {
    min-height: 10vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50%;
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 1rem;
    box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.search-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
}

.recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
